

.tab{
    -fx-background-color: #343a40;
    -fx-text-base-color: rgb(255, 255, 255);
}

.tab:hover{
    -fx-background-color: rgba(15, 106, 167, 0.4);
}

.tab-header-background{
    -fx-background-color: #343a40;
}

.tab:selected{
    -fx-background-color: rgba(120,180,220,.4);
}